<div class="{{toggle}}">
	<div class="flipper">
		<div class="front">	
			{{#if avatarUrl}}
				<img src="{{avatarUrl}}"> <br>
			{{else}}	
				<div class="letter">
					{{firstLetter}}
				</div>	
			{{/if}}	
		</div>	
		<div class="back">
				{{mark}} 
		</div>
	</div>	
</div>	
	
{{yield}}
