{{#if clean}}
	<button {{action 'clean'}}>Clean</button>
{{else}}
	<button {{action 'get'}}>Get</button>
{{/if}}

<h2 id="title">Select Url first ,then Initial</h2>

{{ember-avatar address=url name=name1}}

<br>

{{#if url}} 
	
	<h3 id="title">Switch gavatar</h3>
	
	{{#if state}}
		<button {{action 'selected'}}>On</button>
	{{else}}
		<button {{action 'unselected'}}>Off</button>
	{{/if}}

	<br>
	<br>

{{else}}

	{{#if name1}} 	
		<p>Display Initial below</p>
	
	{{else}}
		<p>Neither Url nor Initial</p>
	
	{{/if}}
	
{{/if}}

<h2> Flip elements </h2>
{{ember-avatar-2 address=url name=name1 size="50px"}}



